.icon-home {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(icons/home.svg);
	background-size: 24px 24px;
	vertical-align: middle;
}
.icon-all-pages {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(icons/all-pages.svg);
	background-size: 24px 24px;
	vertical-align: middle;
}
.icon-edit {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(icons/edit.svg);
	background-size: 24px 24px;
	vertical-align: middle;
}
.icon-new {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(icons/new.svg);
	background-size: 24px 24px;
	vertical-align: middle;
}
.icon-log {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(icons/log.svg);
	background-size: 24px 24px;
	vertical-align: middle;
}
.icon-user {
	display: inline-block;
	height: 24px;
	vertical-align: middle;
}
