{% extends "index.html" %}


{% block content %}
	<div class="title">
		<h1>
			{{ toc.section.title }}
			<a class="zola-anchor" href="#">🔗</a>
		</h1>
	</div>
	{% if not meta.private or user %}
		<div class="content">
			{{ content|safe }}
		</div>
	{% else %}
		Access Denied
	{% endif %}
{% endblock content %}

{% block toolbar %}
<a href="/edit?page={{ toc.section.link }}">EDIT <i class="icon-edit"></i></a>
{% endblock toolbar %}

{% block toc %}
	{% if not meta.private or user %}
		<h3> TABLE OF CONTENTS </h3>
		<ul>
			{% for h in toc.children recursive %}
				{% if h.section.level < 3 %}
					<li>
						<a href="#{{ h.section.link|safe }}">{{ h.section.title }}</a>
						{% if h.children and loop.depth0 < 3 %}
							<ul>
								{{ loop(h.children) }}
							</ul>
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% else %}
		Access Denied
	{% endif %}
{% endblock toc %}
