{% extends "index.html" %}


{% block content %}
	<div class="title">
		<h1>
			{{ page.toc.root().title() }}
			<a class="zola-anchor" href="#">🔗</a>
		</h1>
	</div>
	<div class="content">
		{{ page.content|safe }}
	</div>
{% endblock content %}

{% block toolbar %}
<a href="/edit?page={{ page.toc.root().link() }}">EDIT <i class="icon-edit"></i></a>
{% endblock toolbar %}

{% block toc %}
	<h3> TABLE OF CONTENTS </h3>
	<ul>
		{% let root = page.toc.root() %}
		{% for h1 in root.children() %}
			{% if h1.level() == 1 %}
				<li>
					<a href="#{{ h1.link()|safe }}">{{ h1.title() }}</a>
					{% if !h1.children().is_empty() %}
						<ul>
							{% for h2 in h1.children() %}
								{% if h2.level() == 2 %}
									<li>
										<a href="#{{ h2.link()|safe }}">{{ h2.title() }}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
		</ul>
{% endblock toc %}
